@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');
body{
    background-color: #F6F6F6;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #7F4BC1;
    width: 100%;
}

nav{
   background-color: #9880b8;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} 

.cabFix{
    position: fixed;
    width: 100%;
    margin-top: -15px;
    z-index: 7;
}

.titulonav{
    padding-left: 10px;
    color: #F0F0F0;
}

h5{
    color: #CFCFCF;
    padding-left: 15px;
}


.imgheader{
    border-radius: 13px;
    margin-top: 10px;
}

.carousel{
    border-radius: 30px;
}

#carousel{
    width: 88%;
    position:relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 180px;
}

.corTitulos{
    color: #35184B;
    font-family: Roboto;
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.marg{
    padding-top: 176px;
}

.marg1{
    margin-top: 40px ;
}

.card{
    overflow: hidden;
}

.mapa{
    position:relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

footer{
    background-color: #7F4BC1;
    margin-bottom: 0px;
}

.marg2{
    margin-top: 15px;
    margin-left: 20px;
}

.txtFooter{
 color: #F0F0F0;;
}

.but{
    color: #ebebeb;
    background-color: #7F4BC1;
    border-color: rgba(66, 42, 68, 0);
    --bs-btn-hover-bg:#35184B;
    
}

.cred{
    background-color: #35184B;  
    color: #F0F0F0;
}

.marg3{ /*Titulos*/
    padding-top: 200px;
}

.marg5{
    margin-bottom: 15px;
}

.margFix{
    margin-right: 0%;
    margin-bottom: 0px;
}

.baloo-da-2-cred {
    font-family: "Baloo Da 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.card{
    border-width: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}


.cardGal {
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    transition: transform 0.3s ease;
}

.cardGal:hover {
    transform: scale(1.05);
}

.cardGal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.cardGal:hover img {
    filter: brightness(50%);
}

.cardGal .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardGal:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    color: #fff;
    font-size: 24px;
}

.marg6{
    padding-top: 1000px;
}

.tituloGal{ /*titulos de eventos para galeria*/
    color: #3B3F5C;
    font-size: 30px;
}

.cardGalItem {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardGalItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.margDivGal{
    margin-top: 30px;
    margin-bottom: 30px;
}

.linkNavGalW{
    font-size: 20px;
}

.card-body  h5{
    color: black;
    padding-left: 0px;
}

.sobreInd{
    font-size: 19px;
    color: #2e2e2e;
}

.tituloCont{
   font-size: 25px; 
   color: #3B3F5C;
   padding-left: 5px;
}

.devPd{
    padding-top: 20px;
}
.dev{
    cursor: pointer;
    transition: all 0.3s ease;
}

.dev:hover {
    animation: floatAnimation 0.3s infinite alternate ease;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3px);
    }
}