@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    background-color: #F6F6F6;
    font-family: 'Nunito', sans-serif;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: #7F4BC1;
    width: 100%;
}

nav{
   background-color: #9880b8;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
} 

.cabFix{
    position: fixed;
    width: 100%;
    margin-top: -15px;
    z-index: 7;
}

.titulonav{
    padding-left: 10px;
    color: #F0F0F0;
}

h5{
    color: #CFCFCF;
    padding-left: 15px;
}

.imgheader{
    border-radius: 13px;
    margin-top: 10px;
}

#carousel{
    width: 80%;
    position:relative;
    justify-content: center;
    align-items: center;
    margin: auto;

}

.corTitulos{
    color: #35184B;
    font-family: Roboto;
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.marg{
    padding-top: 176px;
}

.marg1{
    margin-top: 40px ;
}

.card{
    overflow: hidden;
}

.mapa{
    position:relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

footer{
    background-color: #7F4BC1;
    margin-bottom: 0px;
    width: 100%;
    
}

.marg2{
    margin-top: 15px;
    margin-left: 20px;
}

.txtFooter{
 color: #F0F0F0;;
}

.but{
    color: #ebebeb;
    background-color: #7F4BC1;
    border-color: rgba(66, 42, 68, 0);
    --bs-btn-hover-bg:#35184B;
    
}