@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body{
    background-color: #F6F6F6;
    font-family: 'Inter', sans-serif;
}

header{
    background-color: #7F4BC1;
    width: 100%;
    height: 100%;
}

.headerTitle{
    display: flex;
    flex-direction: row;
    color: #f0f0f0;
    margin-left: 0.5em;
}

.tituloHeadTxt{
    padding-left: 2%;
    font-family: 'K2D';
}

.icone{
    width: 80px;
}

.navbar-collapse{
    background-color: #7F4BC1;

}

.navbar-nav{
    align-items: normal;
}

.collapse{
    align-self: end;
}

header nav{

    font-weight: bold;
    background-color: #7F4BC1;
    
} 

.pdHead{
    padding-bottom: 7px;
}

.show{
    border-radius: 10px;

    justify-content: flex-start;
}

.navbar-toggler-icon{
    width: 70%;
    background-color: #f0f0f0;
    width: 45px;
    height: 45px;
    margin: 10px;
    border-radius: 10px;
    
}

.navbar-toggler{
    border-color: transparent;

}

.mainLi{
    color: #764F88;
    box-sizing:border-box;
    background-color: #f0f0f0;
    padding: 10px;
    margin-left: 0px;
    padding-bottom: -20px;
    margin-top: 0px;
    
}

.titleHead{
    margin-left: 70px;
}



.cabFix{
    position: fixed;
    width: 100%;
    z-index: 7;
    height: 100px;
}

.titulonav{
    padding-left: 10px;
    color: #F0F0F0;
    margin-top: 10px;  

}

 header h5{
    color: #CFCFCF;
    padding-left: 15px;
    margin-top: 20px;  
}


.imgheader{
    border-radius: 13px;
    padding: 1px;
    height: 70px;
}

#carousel{
    width: 100%;
    position:relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 110px;
}

.corTitulos{
    color: #35184B;
    font-family: Roboto;
    font-size: 43px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

nav{
    display: flex;
    flex-direction: row;
    column-gap: 40px;
}

li{
    list-style-type: none;
}

.marg{
    padding-top: 176px;
}

.marg1{
    margin-top: 40px ;
}

.card{
    overflow: hidden;
    border-radius: 20px;
}

.endInd{
    position:relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

footer{
    background-color: #7F4BC1;
    margin-bottom: 0px;
}

.marg2{
    margin-top: 15px;
    margin-left: 20px;
}

.txtFooter{
 color: #F0F0F0;;
}

.but{
    color: #ebebeb;
    background-color: #7F4BC1;
    border-color: rgba(66, 42, 68, 0);
    --bs-btn-hover-bg:#35184B;
    
}

.cred{
    background-color: #35184B;  
    color: #F0F0F0;
}

.marg3{ /*Titulos*/
    padding-top: 150px;
}

.marg5{
    margin-bottom: 15px;
}

.margFix{
    margin-right: 0%;
    margin-bottom: 0px;
}

.baloo-da-2-cred {
    font-family: "Baloo Da 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

.card{
    border-width: 0px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


.cardGal {
    height: 450px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    transition: transform 0.3s ease;
}

.cardGal:hover {
    transform: scale(1.05);
}

.cardGal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.cardGal:hover img {
    filter: brightness(50%);
}

.cardGal .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardGal:hover .overlay {
    opacity: 1;
}

.overlay h2 {
    color: #fff;
    font-size: 24px;
}

.marg6{
    padding-top: 1000px;
}

.tituloGal{ /*titulos de eventos para galeria*/
    color: #3B3F5C;
    font-size: 30px;
}

.cardGalItem {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.cardGalItem img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.margDivGal{
    margin-top: 30px;
    margin-bottom: 30px;
}

.linkNavGalW{
    font-size: 20px;
}

.card-body  h5{
    color: black;
    padding-left: 0px;
}

.sobreInd{
    font-size: 19px;
    color: #2e2e2e;
}

.tituloCont{
   font-size: 25px; 
   color: #3B3F5C;
   padding-left: 5px;
}

.devPd{
    padding-top: 70px;
    padding-bottom: 15px;
}
.dev{
    cursor: pointer;
    transition: all 0.3s ease;
}

.dev:hover {
    animation: floatAnimation 0.3s infinite alternate ease;
}

@keyframes floatAnimation {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-3px);
    }
}

.blank{
    position: relative;
    height: 100%;
    width: 100%;
}

.botPadd{
    margin-bottom: 145px;;
}

.cardPub {
    height: 430px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;    transition: transform 0.3s ease;
}

.cardPub:hover {
    transform: scale(1.05);
}

.cardPub img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease;
}

.cardPub:hover img {
    filter: brightness(50%);
}

.cardPub .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardPub:hover .overlay {
    opacity: 1;
}

.pubSec{
box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;      
background-color: rgb(236, 236, 236);
}

.marg7{
    padding-top: 15px;
}

footer {

    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mapa{
    position:relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 50px;
}

/* participantes */

.cardNome{
    color: #3B3F5C;
    font-size: 30px;
}

.cardCurso{
    color: #8A8DA1;
    font-size: 20px;
    font-weight: lighter;
}

.cardEmail{
    padding-top: 10px;
    color: #959595;
    font-size: 22px;
    font-weight: 200;
}

.cardFormacao{
    padding-top: 1px;
    padding-bottom: 10px;
    color: #6D6D6D;
    font-size: 22px;
    font-weight: 300;
}

.fotoParticipantes{
    height: auto;
    /* width: 100%; */
    /* overflow: hidden; */

}

/* Card de participantes */

.cardPart {
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: #F0F0F0;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}

.nomeParticipante h5{ 
    font-weight:600;
    color:#35184B;
}.nomeParticipante h6{ 
    font-weight: 550;
    color:#6b6b70;
}

.descritivosParticipante{ /*nele é inserido as informações de: graduação, iniciação científica, mestrado, doutorado. e também o e-mail*/
    width: fit-content;
}

.descritivosParticipante h5{
    font-weight: 600;
    color: #764F88;
}

.descritivosParticipante h6{
    font-weight: 550;
    color: #764F88;
}

.botoesCV button{
    border-radius: 100px;
    align-items: baseline;
}

.ptBtn1{
    color: #764F88;
    background-color: #f0f0f0;
    border-color: #764F88;
    --bs-btn-hover-bg:#35184B;
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
    
}

.ptBtn2{
    color:#f0f0f0;
    background-color: #764F88;
    border-color: #764F88;
    --bs-btn-hover-bg:#35184B;
    --bs-btn-hover-border-color: var(--bs-btn-hover-bg);
    
}